<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>知乎日报</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="css/mui.min.css">

		<style>
			.title {
				margin: 10px 15px 15px;
				color: #6d6d72;
				font-size: 15px;
			}
			img{
				height: 200px;
			}
		</style>
	</head>

	<body>
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--侧滑菜单部分-->
			<aside id="offCanvasSide" class="mui-off-canvas-left">
				<div id="offCanvasSideScroll" style="background-image: url(images/z.png);background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						
					</div>
				</div>
			</aside>
			<!--主界面部分-->
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
					<h1 class="mui-title">首页</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-content-padded">
							<div id="slider" class="mui-slider">
								<!--图片-->
								<div id="zhimges" class="mui-slider-group mui-slider-loop">
									<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
									
									 <div class='mui-slider-item mui-slider-item-duplicate'>
										<a href=''>
										<img src="">
										<p class='mui-slider-title'><!-- {{top_stories[0].title}} --></p>
										</a>
									</div>
										<div class='mui-slider-item' v-for="stories in top_stories">
											<a :href="'two.html?id='+stories.id+''">
											<img v-bind:src="stories.image">
											<p class='mui-slider-title'>{{stories.title}}</p>
											</a>
										</div>
									<div class='mui-slider-item mui-slider-item-duplicate'>
										<a href=''>
										<img src=''>
										<p class='mui-slider-title'></p>
										</a>
									</div>
									
								</div>
								<!--原点-->
								<div id="yuandian" class="mui-slider-indicator mui-text-center" v-for="top in top_stories">
									<div class="mui-indicator mui-active"></div>
									<div class="mui-indicator"></div>
									<div class="mui-indicator"></div>
									<div class="mui-indicator"></div>
									<div class="mui-indicator"></div>
								</div>
							</div>
						</div>
						
						<!--加入今日内容-->
						<p class="title">今日热点</p>
						<div id="listphoto" >
							<div class='mui-card' style='margin-bottom: 5px;' v-for="st in stories">
							<ul class='mui-table-view'>
							<li class='mui-table-view-cell mui-media'>
							<a :href="'two.html?id='+st.id+''">
							<img class='mui-media-object mui-pull-right' v-bind:src="st.images">
							<div class='mui-media-body'>
							<p class='mui-ellipsis'>{{st.title}}</p>
							</div></a></li></ul></div>
						</div>
							
						
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js"></script>
	<script src="css/vues.js"></script>
	<script>
		mui.init({
			swipeBack: true //启用右滑关闭功能
		});
		//图片轮播
		var data_top_stories=[];
		//今日
		var data_stories=[];
		
		function vas(){
				var vue=new Vue({
					el:"#zhimges",
					data:{
						top_stories:""
					},
					created:function(){
						var d = this;
						fetch('https://news-at.zhihu.com/api/4/news/latest',{
							methos:'get'
						}).then(response => response.json())
						.then((data) => {
							d.top_stories=data.top_stories;
							var slider = mui("#slider");
							slider.slider({
								interval: 1000
							}); 
						}).catch(function (r){
							console.err(r);
						})
					}
					
				}) 
				
				var vue=new Vue({
					el:"#listphoto",
					data:{
						stories:""
					},
					created:function(){
						var d = this;
						fetch('https://news-at.zhihu.com/api/4/news/latest',{
							methos:'get'
						}).then(response => response.json())
						.then((data) => {
							d.stories=data.stories;
							console.log(d.stories)
						}).catch(function (r){
							console.err(r);
						})
					}
					
				}) 
				
		}
		vas();
		
		
		//点击a进行掉转页面
			mui('body').on('tap', 'a', function() {
				window.top.location.href = this.href;
			});
	</script>

	<script>
		mui.init();
		//侧滑容器父节点
		var offCanvasWrapper = mui('#offCanvasWrapper');
		//主界面容器
		var offCanvasInner = offCanvasWrapper[0].querySelector('.mui-inner-wrap');
		//菜单容器
		var offCanvasSide = document.getElementById("offCanvasSide");
		//移动效果是否为整体移动
		var moveTogether = false;
		//侧滑容器的class列表，增加.mui-slide-in即可实现菜单移动、主界面不动的效果；
		var classList = offCanvasWrapper[0].classList;
		classList.add('mui-slide-in');

		//主界面和侧滑菜单界面均支持区域滚动；
		mui('#offCanvasSideScroll').scroll();
		mui('#offCanvasContentScroll').scroll();
		
	</script>
</html>
